langchain
python-dotenv
ipykernel
langchain-community
pypdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
openai
mysql-connector-python
SQLAlchemy
validators==0.28.1
unstructured
numexpr
streamlit
langchain_openai
fastapi
